work-dpi/
dw*
site/*
*.ucdb
work/*
transcript
*.ini
*.wlf
*.vstf
wlft*
*nfs*
*.sig
*.dtb
*.dasm
obj_dir/*
/tmp*
*.dasm
build/
trace_*
# ...but the tracer sources are not generated artefacts.
!hw/ip/snitch/include/snitch/trace_writer.svh
!hw/ip/snitch_test/src/trace_dpi.c
mems
*log
.bender
.dvt
.settings
*.o
install
.projectBender.lock
spatz_env