[submodule "sw/toolchain/verilator"]
	path = sw/toolchain/verilator
	url = https://github.com/verilator/verilator.git
[submodule "sw/toolchain/riscv-opcodes"]
	path = sw/toolchain/riscv-opcodes
	url = https://github.com/pulp-platform/riscv-opcodes.git
[submodule "sw/toolchain/llvm-project"]
	path = sw/toolchain/llvm-project
	url = git@github.com:pulp-platform/llvm-project.git
[submodule "sw/toolchain/riscv-gnu-toolchain"]
	path = sw/toolchain/riscv-gnu-toolchain
	url = https://github.com/pulp-platform/pulp-riscv-gnu-toolchain.git
[submodule "sw/toolchain/riscv-isa-sim"]
	path = sw/toolchain/riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
