# Copyright (c) 2025 ETH Zurich.
# Tim Fischer <fischeti@iis.ee.ethz.ch>

# Unused cockpit tools
tsmc7/dfii
tsmc7/innovus
tsmc7/modelsim
tsmc7/synopsys
tsmc7/tetramax

# Cockpit items that should not be tracked,
# but are updated by the cockpit
tsmc7/technology
tsmc7/docs

# Fusion related files
tsmc7/fusion/save
tsmc7/fusion/out
tsmc7/fusion/reports
tsmc7/fusion/work_dir
tsmc7/fusion/design_planning/work_dir
tsmc7/fusion/design_planning/split
tsmc7/fusion/design_planning/block_pg
tsmc7/fusion/design_planning/block_budgets
tsmc7/fusion/design_planning/read_pin_constr_place_pins.tcl
tsmc7/fusion/design_planning/.pin*
tsmc7/fusion/design_planning/TIOPostOpt
tsmc7/fusion/design_planning/TIOPreopt
tsmc7/fusion/scripts/*par_icc2.tcl
tsmc7/fusion/scripts/PRTF_ICC2_N7*.tcl
tsmc7/fusion/**/clock_auto_exceptions*.tcl
tsmc7/fusion/**/.graph_data.txt
tsmc7/fusion/**/fc_output.txt
tsmc7/fusion/**/HDL_LIBRARIES
tsmc7/fusion/**/checkpoint*
!tsmc7/fusion/**/checkpoint.*.tcl
tsmc7/fusion/**/*.ems
tsmc7/fusion/**/tmp
tsmc7/fusion/pna_output
tsmc7/fusion/*icv_work_dir

# Calibre
tsmc7/calibre/**
!tsmc7/calibre/calibre.mk
!tsmc7/calibre/runset.custom.drc

# General tool ouptut
**/*.log
**/*.svf
**/Synopsys_stack_trace_*.txt
**/crte_*.txt
**/fc_output.txt

# Bender
Bender.lock

# Simulation files
target/sim/vsim/work
target/sim/vsim/modelsim.ini
target/sim/vsim/nets_lib
target/sim/vsim/compile.tcl
target/sim/vsim/vcd_dump_nets.tcl
target/sim/vsim/compile_nets.tcl
tsmc7/sdf
tsmc7/vcd
tsmc7/src/netlist

# Software build files
*.bin
*.dump
*.memh
*.elf
*.gpt
*.gpth
*.o
*.a
*.dtb

# ArtistIC
util/out
